<!DOCTYPE html>
  <html>
  <!--Header, Menus, SearchBar------>
            <div class="top-descript">
              <text>A sustainable furniture search engine, dedicated to identifying healthy and eco-friendly household goods on the market.</text>
             </div>
             <div ng-mouseenter="searchControl.showFurnitureByCatgMenu = false; searchControl.showBabyKidsMenu = false; searchControl.showRetailerMenu = false"  class="home-title">
               <span><a href="/">cabin vista</a><span>
             </div>

             <div ng-submit="searchControl.digestQuery()" class="searchbar" ng-mouseenter="homeControl.showFurnitureByCatgMenu = false; homeControl.showBabyKidsMenu = false; homeControl.showRetailerMenu = false">
               <form>
                 <input ng-model="searchControl.searchBarQuery" type="text" placeholder="Type to search furniture type, product, brand, etc.">
               </form>
             </div>
             <div class="navigation-bar">
               <span ng-mouseenter="searchControl.showFurnitureByCatgMenu = true; searchControl.showBabyKidsMenu = false; searchControl.showRetailerMenu = false"><a>Category</a></span>
               <span ng-mouseenter="searchControl.showBabyKidsMenu = true; searchControl.showFurnitureByCatgMenu = false; searchControl.showRetailerMenu = false"
               ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.kidsFurniture.allKidsFurniture)"><a>Shop Baby & Kids</a></span>
               <span ng-mouseenter="searchControl.showRetailerMenu = true; searchControl.showFurnitureByCatgMenu = false; searchControl.showBabyKidsMenu = false"><a>Retailer</a></span>
               <span ng-click="searchControl.toRelevantArticles()" ng-mouseenter="searchControl.showFurnitureByCatgMenu = false; searchControl.showBabyKidsMenu = false; searchControl.showRetailerMenu = false"><a>Info</a></span>
            </div>

            <div class="mega-menu-catg" ng-show="searchControl.showFurnitureByCatgMenu" ng-mouseleave="searchControl.showFurnitureByCatgMenu= false">
        <div class="menu-bedroom">
            <span><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.bedroom.allBedroom)">Bedroom</a></span>
            <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.bedroom.beds)">Beds</a></p>
            <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.bedroom.dressers)">Dressers & Armoires</a></p>
            <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.bedroom.nightstands)">Nightstands</a></p>
            <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.bedroom.desks)">Desks</a></p>
        </div>

        <div class="menu-livingroom">
          <span><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.livingroom.allLivingroom)">Living Room</a></span>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.livingroom.sofasAndSectionals)">Sofas & Sectionals</a></p>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.livingroom.coffeeTables)">Coffee Tables</a></p>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.livingroom.accentChairsAndOttomans)">Accent Chairs & Ottomans</a></p>
        </div>

        <div class="menu-kitchen">
          <span><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.dining.allDining)">Dining & Kitchen</a></span>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.dining.allDining)">All Dining & Kitchen</a></p>
        </div>

        <div class="menu-storage">
          <span><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.storage.allStorage)">Storage</a></span>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.storage.mediaConsoles)">Media Consoles</a></p>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.storage.shelves)">Shelves</a></p>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.storage.cabinets)">Cabinets</a></p>
        </div>

        <div class="menu-outdoor">
          <span><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.outdoor.allOutdoor)">Outdoor</a></span>
          <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.outdoor.allOutdoor)">Outdoor Tables & Chairs</a></p>
        </div>
      </div>

    <div class="mega-menu-babykids" ng-show="searchControl.showBabyKidsMenu" ng-mouseleave="searchControl.showBabyKidsMenu = false">
      <span><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.kidsFurniture.allKidsFurniture)">All Baby & Kids Furniture</a></span>
      <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.kidsFurniture.bedsAndCribs)">Beds & Cribs</a></p>
      <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.kidsFurniture.dressers)">Dressers</a></p>
      <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.kidsFurniture.nightstands)">Nighstands</a></p>
      <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.kidsFurniture.desks)">Desks</a></p>
    </div>

    <div class="mega-menu-retailer" ng-show="searchControl.showRetailerMenu" ng-mouseleave="searchControl.showRetailerMenu=false">
      <div>
        <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.searchByRetailer.westElm)">west elm</a></p>
        <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.searchByRetailer.potteryBarn)">Pottery Barn</a></p>
        <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.searchByRetailer.potteryBarnKids)">Pottery Barn Kids</a></p>
      </div>
      <div>
        <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.searchByRetailer.pbTeen)">Pbteen</a></p>
        <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.searchByRetailer.williamsSonoma)">Williams Sonoma</a></p>
        <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.searchByRetailer.medley)">medley</a></p>
      </div>
      <div>
        <p><a ng-click="searchControl.searchFromMenu(searchControl.furnitureMenuOptns.searchByRetailer.aptTwoB)">apt2b</a></p>
        <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.searchByRetailer.davinciBaby)">Davinci Baby</a></p>
        <p><a ng-click="searchControl.switchToKidsOrStandardFurniture(searchControl.furnitureMenuOptns.searchByRetailer.oneKingsLane)">One Kings Lane</a></p>
      </div>
    </div>



<!---End of Header, Menus, SearchBar------>





<!---Sidebar--->
            <div ng-show="searchControl.revealSearchBarResults || searchControl.revealMenuSearchResults || searchControl.clientSearchbyOneRetailer" class="side-bar">
              <ul ng-hide="searchControl.clientSearchbyOneRetailer">
                <p>Filter by Retailer</p>
                <li data-ng-repeat="site in searchControl.siteNames">
                  <input ng-click="searchControl.narrowSearchByBrand(site)" id="checkbox1" type="checkbox">
                  <label ng-class="{'highlight-green': site.highlighted}">{{site.key}} ({{site.doc_count}})</label>
                </li>
              </ul>

              <ul>
                <p>Filter By Price</p>
                <li>
                  <input ng-click="searchControl.filterPriceRange(searchControl.priceRangeOptions[0])" class="checkboxoption" type="checkbox">
                  <label for="checkboxoption">$500 and Under ({{searchControl.priceRanges[0].doc_count}})</label>
                </li>
                <li>
                  <input ng-click="searchControl.filterPriceRange(searchControl.priceRangeOptions[1])" class="checkboxoption"  type="checkbox">
                  <label for="checkboxoption">$500 - $1000 ({{searchControl.priceRanges[1].doc_count}})</label>
                </li>
                <li>
                  <input ng-click="searchControl.filterPriceRange(searchControl.priceRangeOptions[2])" class="checkboxoption"  type="checkbox">
                  <label for="checkboxoption">$1000 - $1500 ({{searchControl.priceRanges[2].doc_count}})</label>
                </li>
                <li>
                  <input ng-click="searchControl.filterPriceRange(searchControl.priceRangeOptions[3])" class="checkboxoption"  type="checkbox">
                  <label for="checkboxoption">$1500 - $3000 ({{searchControl.priceRanges[3].doc_count}})</label>
                </li>
                <li>
                  <input ng-click="searchControl.filterPriceRange(searchControl.priceRangeOptions[4])" class="checkboxoption"  type="checkbox">
                  <label for="checkboxoption">$3000 and Over ({{searchControl.priceRanges[4].doc_count}})</label>
                </li>
              </ul>
            </div>
  <!--End of Sidebar-->


    <div class="product-results">

      <!----Results found for Menu Options--->
      <p ng-show="searchControl.revealMenuSearchResults" class="phrase-results-menu-catg">
          {{searchControl.furnitureDescript}} - {{searchControl.furnitureTitle}}
          <br>
          <p ng-show="searchControl.revealMenuSearchResults">{{searchControl.totalResultsFound.value}} results found</p>
      </p>
      <!----Results found for search bar request---->
      <p ng-show="searchControl.revealSearchBarResults && !searchControl.revealMenuSearchResults" class="phrase-results-searchbar">
      {{searchControl.totalResultsFound.value}} results found for '{{ searchControl.searchResultValue }}'
    </p>


    <hr ng-show="searchControl.revealSearchBarResults || searchControl.revealMenuSearchResults"/>
        <div ng-show="searchControl.revealSearchBarResults || searchControl.revealMenuSearchResults" class="price-sorting">
            <span class="price-sorting-option is-active" ng-click="searchControl.sortThePrice(undefined)"><a>Best Match</a></span>
            <span class="price-sorting-option" ng-click="searchControl.sortThePrice('asc')"><a>Low to High</a></span>
            <span class="price-sorting-option" ng-click="searchControl.sortThePrice('desc')"><a>High to Low</a></span>
        </div>

        <!------PAGE LOADING CSS-->
   <div ng-class="{'spinner':searchControl.blurPageAddSpinner}"></div>


        <div ng-class="{'page-blur':searchControl.blurPageAddSpinner}" class="product-card-results">
          <div data-ng-repeat="results in searchControl.searchResults" class="product-card">
              <a ng-href="{{results._source.producturl}}" target="_blank"><div style="background-image:url({{results._source.image}})" id="test-product-image" alt="product image"/></a>
            <div class="test-product-section">
            <div class="test-product-title"><a ng-href="{{results._source.producturl}}" target="_blank">{{results._source.productname}}</a></div>
              <div class="test-store-name">at {{ results._source.sitename }}</div>
              <p class="test-certification" title="{{results._source.certifications[0].title}}" target="_blank">
                <a ng-href="{{results._source.certifications[0].url}}" target="_blank">{{results._source.certifications[0].certification}}</a>
              </p>
            </div>
             <div class="test-product-price">${{results._source.price[0]}} <t ng-show="{{results._source.price[1]}}">- ${{results._source.price[1]}}</t></div>
          </div>
        </div>

        <div ng-class="{'bottom-spinner': searchControl.addBottomPageSpinner}"></div>
       <div ng-show="searchControl.allResultsLoaded" class="test-content-finished">- Content Finished -</div>


    </div>

  </html>
